@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;


}



/*  paleta de cores  */
:root {
    --fundoenavbar: #FBFBFB;
    --navbarletras: #85C2AD;
}



body {
    margin: 0;
    align-items: center;
    background-color: var(--fundoenavbar);
    color: var(--logo);
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}



header {
    font-family: 'Inter';
    position: fixed;
    width: 100%;
    height: 110px;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--fundoenavbar);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    transition: all .50s ease;
}



header img {
    height: 110px;
    margin-left: 7rem;
}



header a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}



.navbar {
    margin-top: 2.5rem;
    display: flex;
    margin-right: 9rem;

}



.navbar a {
    font-family: 'Montserrat', sans-serif;
    color: var(--navbarletras);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 25px;

}



.background h1 {
    position: absolute;
    top: 30%;
    left: 19.5%;
    transform: translateX(-50%);
    text-align: left;
    font: normal normal normal 45px/55px 'Comfortaa';
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    z-index: 2;
}



.background h2 {
    width: 447px;
    position: absolute;
    top: 36%;
    left: 25.1%;
    transform: translateX(-50%);
    text-align: center;
    font: normal normal normal 40px/55px 'Comfortaa';
    background: var(--unnamed-color-85c2ad) 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    background: #85C2AD 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 5px;
}



.background img {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    padding: 7rem;
}

.text1 {
    margin-bottom: 3rem;

}

.text1 h1 {
    text-align: center;
    font: normal normal bold 24px/32px Comfortaa;
    letter-spacing: 0px;
    color: #4A7866;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 2rem
}



.text1 h2 {
    text-align: left;
    font: normal normal normal 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #6D6D6D;
    position: relative;
    width: 80%;
    margin-left: 15%;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom: 4rem
}

h2 strong {
    font-weight: 600;
}





.header {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 3px 32px 13px rgba(0, 0, 0, 0.044);
    margin-left: 13rem;
    margin-right: 13rem;
    margin-bottom: 4rem;

}

.header .esquerda {
    margin-right: 20px;
}

.header img {
    max-width: 100%;
    height: auto;
    margin-right: 7rem;
}

.header .direita {
    color: #FFFFFF;
    max-width: 600px;
}

.header h1,
.header p,
.header h2 {
    margin-bottom: 15px;
}



.header h1 {
    text-align: left;
    font: normal normal bold 18px/28px Comfortaa;
    letter-spacing: 0px;
    color: #C49395;
    text-transform: uppercase;
    opacity: 1;
}

.header p {
    text-align: left;
    font: normal normal bold 16px/24px Comfortaa;
    letter-spacing: 0px;
    color: #C49395;
    opacity: 1;
}

.header h2 {
    text-align: left;
    font: normal normal normal 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #6D6D6D;
    opacity: 1;
}



.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 6rem;
    margin-left: 2rem;
}



.icons img {
    width: 45px;
    height: 50px;
    margin-right: 2rem;
}



.trajetoria {
    display: flex;
    justify-content: center;
    align-items: center;
}


.trajetoria h1 {
    text-align: center;
    font: normal normal bold 24px/32px Comfortaa;
    letter-spacing: 0px;
    color: #4A7866;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 3rem;
}



.sub {
    display: flex;
    justify-content: center;
}

.sub>div {
    margin-left: 8rem;
    margin-right: 5rem;

}

.sub h1 {
    text-align: left;
    font: normal normal 600 18px/19px Montserrat;
    letter-spacing: 0px;
    color: #C49395;
}

.sub p {
    text-align: left;
    font: normal normal normal 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #6D6D6D;
}


.titulos h1 {
    border-bottom: 1px solid #C49395;
    width: 90px;
    padding-bottom: 5px;
}


.residencia h1 {
    border-bottom: 1px solid #C49395;
    width: 200px;
    padding-bottom: 5px;
}



.exp {
    margin-top: 3rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 6rem;
}

.exp h1 {
    text-align: center;
    font: normal normal 600 18px/19px Montserrat;
    letter-spacing: 0px;
    color: #4A7866;
    text-transform: uppercase;

}


.exp p {
    margin-top: 1rem;
    text-align: center;
    font: normal normal normal 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #787878;

}



footer {
    background-color: #c29598;
    width: 100%;
    text-align: center;
    margin: auto;

}

footer img {
    width: 87rem;
    height: 25rem;
    display: block;
    margin: 0 auto;

}

.info-bar {
    background-color: #f5f5f5;
    padding: 8px;
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
}